#filter-table {
  width: 70vw;

  margin-top: 1vw;

  border: 1px solid black;
  display:flex;
  align-items: center;
  flex-direction: column;
}

form.filter-form {
  width: 100%;

  padding: 1vw;

  display:flex;
  align-items: left;
  flex-direction: column;
}

form.filter-form fieldset {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;

  margin-top: 1vw;

  border: none;
}

form.filter-form fieldset .input-block {
  display:flex;
  align-items: left;
  flex-direction: column;
}

form.filter-form fieldset .input-block input{
  width: 20vw;

  margin-top: 8px;

  padding: 1vh;
}

form.filter-form .filter-buttons {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

form.filter-form .filter-buttons .clean-filter{
  margin-left: 180px;
}

form.filter-form .filter-buttons .clean-filter{
  align-self: flex-end;
  margin-top: 3vw;
}

form.filter-form button {
  width: 20vw;

  border-radius: 10px;

  background-color: var(--primary-color);
  color: #fff;

  cursor: pointer;
}

form.filter-form button:hover {
  background: #2c1d1d;
}