#data-table {
  width: 70vw !important;
  height: 100% !important;

  margin-bottom: 1vh;

  border: 1px solid black;
}

#data-table .data-table-button {
  width: 20vw;

  margin-left: 46vw;

  margin-bottom: 2vh;
}

#data-table .data-table-button button {
  width: 20vw;

  border-radius: 10px;

  background-color: var(--primary-color);
  color: #fff;

  cursor: pointer;
}

#data-table .data-table-button button:hover {
  background: #2c1d1d;
}

.data-table-wrapper button {
  width: 40px !important;
}

.data-table-wrapper div {
  color: black !important;
}

.data-table-wrapper .details {
  display:flex;
  align-items: center;
  flex-direction: column;

  margin-bottom: 2vh;
}

.data-table-wrapper .details button {
  width: 6vw !important;

  display:flex;
  align-items: center;
  flex-direction: column;

  background-color: var(--primary-color);
  color: #fff;

  cursor: pointer;
}

.data-table-wrapper .details button:hover {
  background: #2c1d1d;
}